.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    padding: 20px 10px;

    img {
        border-radius: 5px;
        width: 100%;
        height: auto;
    }
}

.mainInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__askBlock {
        padding-left: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__additionalInfo {
        padding-left: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}