.main {
    ul {
        display: flex;
        gap: 30px;
    }
}

.step {

    >div {
        right: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            background-color: var(--gray);
            border-radius: 50%;

            &.active {
                background-color: var(--green);
            }

            >p {
                color: white;
            }
        }

        >p {
            font-size: 16px !important;
        }
    }
}