.main {
    width: 533px;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: (#F6FAFD);
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding-left: 20px;

}

.title {
    color: var(--main-text-dark);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}