.main {
    max-width: 400px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    svg {
        width: 82px;
        height: 82px;
    }

    @media screen and (max-width: 500px) {
        max-width: 300px;
    }
}