.main {
    // width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-bg);
    padding: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 30px;

    >div:first-child {
        display: flex;
        flex-direction: column;
        gap: 50px;

        h1 {
            display: inline-block;
            max-width: 596px;
            font-size: 36px;

            a {
                color: var(--green);
            }
        }
    }

    &__subTitle {
        max-width: 533px;

        h2 {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.searchBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__tagsBlock {
        max-width: 500px;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;

        &__allCategoryLink {
            border-radius: 20px;
            display: flex;
            padding: 10px 20px;
            border: 1px solid var(--orange);

            p {
                color: var(--orange);
            }
        }
    }
}

.imgBlock {
    position: relative;

    img {
        max-width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 800px) {
    .main {}

    .wrapper {
        flex-direction: column;
        position: relative;
    }

    .textContent {
        z-index: 100;


        >div:first-child {}
    }

    .searchBlock {
        &__tagsBlock {
            &__allCategoryLink {}
        }
    }

    .imgBlock {
        // display: ;
        position: absolute;
        top: 0;
        left: 0;
        // width: 70%;
        // height: fit-content;

        img {}
    }
}