.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px 0;

    >button {
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid var(--green);

        p {
            font-size: 20px;
            color: var(--green);
            font-weight: 600;
        }
    }
}

.filter {
    display: flex;
    gap: 20px;

    p {
        cursor: pointer;
    }
}

.feedBackBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}