.main {
    display: flex;
    flex-direction: column;
    gap: 30px;

    >div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

@media screen and (max-width:1350px) {
    .main {

        >div {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width:880px) {
    .main {

        >div {
            grid-template-columns: 1fr;
        }
    }
}