.main {
    overflow: hidden;
    padding: 20px;
    background-color: var(--light-gray);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s transform;
    justify-content: space-between;

    >p {
        font-weight: 600;
        font-size: 18px;
    }

    &.active {

        >svg {
            transition: 0.2s transform;
            transform: rotate(180deg);
        }
    }
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >p:first-child {
            font-weight: 600;
            color: var(--green);
        }

        @media screen and (max-width:1000px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__additional {
        display: flex;
        flex-direction: column;

        >div {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}