.main {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        border-radius: 20px;
        padding: 14px 30px;

        &:first-child {
            background-color: var(--light-gray);

            p {
                color: var(--green);
                font-weight: 600;
            }

        }

        &:last-child {
            background-color: var(--green);

            p {
                color: var(--p-light);
            }
        }
    }

}