.main {
    display: none;

    @media screen and (max-width: 1025px) {
        display: block;
    }
}

.burger {
    width: 33px;
    height: 23px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    z-index: 201;
    position: relative;

    & span {
        background-color: #241400;
        width: 100%;
        height: 4px;
    }
}