.main {
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 100%;

}

.fieldItem {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.rememberMeBlock {
    display: flex;
    justify-content: space-between;

    p {
        color: var(--orange);
    }
}

.linkToRegistrationBlock {
    display: flex;
    justify-content: space-between;

    a {
        p {
            color: var(--orange);
        }
    }
}