.main {
    overflow: hidden;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    &__pageVariant {
        padding: 20px 0;
    }
}

.imgBlock {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        &__pageVariant {
            padding: 50px;
            border-radius: 10px;
            position: relative;
            z-index: 200;
            background-color: var(--super-light-gray);
        }

        .imgBlock {
            position: absolute;
            top: 0;
            left: 0;

        }
    }
}

@media screen and (max-width: 425px) {

    .wrapper {

        >div:first-child {
            padding: 25px 10px;
        }
    }
}