.option {
  padding: 5px 15px;
  background-color: var(--main-bg);
  border: 1px solid var(--light-gray);
  transition: 0.2s all;

  p {
    font-weight: normal;
    color: var(--main-p);
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    transition: 0.2s all;
    background-color: var(--gray);

    p {
      scale: 1.03;
    }
  }
}