.main {
    max-width: 400px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.imgBlock {
    position: relative;
    width: 150px;
    height: 150px;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        &:first-child {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 2px;
        }

        &:nth-child(2) {
            color: var(--orange);
            font-size: 18px;
            font-weight: 600;
        }

        &:nth-child(3) {
            font-size: 14px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 500px) {

    .cardDescription {

        p {
            &:first-child {
                font-size: 14px;
            }

            &:nth-child(2) {
                font-size: 15px;
            }

            &:nth-child(3) {
                font-size: 12px;
            }
        }
    }

    .imgBlock {
        width: 100px;
        height: 100px;
    }
}