.main {
    max-width: 400px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    img {
        width: 120px;
        height: 120px;
    }
}

.imgBlock {
    position: relative;
    width: 150px;
    height: 150px;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        &:first-child {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 2px;
        }

        &:nth-child(2) {
            color: var(--orange);
        }
    }
}

@media screen and (max-width: 500px) {

    .mainContent {

        img {
            width: 100px;
            height: 100px;
        }
    }

}