.main {
    background-color: var(--super-light-gray);
    // min-height: 80vh;
    // border: 1px solid red;
    display: flex;

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;

    padding: 150px 0;

    >div:first-child {
        text-align: center;

        max-width: 700px;

        span {
            color: var(--green);
        }
    }

    >div:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition: 0.2s scale;

        &:hover {
            >a {
                svg {
                    transition: 0.2s scale;
                    scale: 1.4;
                }
            }
        }

        h3 {
            font-weight: 400;
            font-size: 24px;
        }

        svg {
            fill: var(--green);
            height: 35px;
        }

        span {
            color: var(--green);
        }
    }
}

.searchBlock {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        // border: 1px solid red;
    }
}