.main {
    display: flex;
    align-items: center;
    gap: 10px;

    >div {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            width: 20px;
            height: 2px;
            background-color: var(--dark-gray);
        }
    }

    @media screen and (max-width: 640px) {
        padding-top: 20px;
        flex-direction: column-reverse;

        >div:first-child {
            // flex-direction: column;
        }
    }
}