.projectsBlock {
    // position: -webkit-sticky;
    // position: sticky;
    // top: 0;
    // position: sticky;
    display: flex;
    flex-direction: column;
    gap: 20px;


    >div:first-child {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // position: fixed;
        // top: 0;
        position: sticky;
        top: 0;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
}

@media screen and (max-width: 920px) {

    .projectsBlock {
        >div:first-child {
            flex-direction: column;
        }
    }
}