.main {
    cursor: pointer;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--gray);
    width: 100%;

    >div:first-child {
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.2s transform;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        p {
            font-weight: 500;
            font-size: 18px;
        }

        &.active {
            >svg {
                transition: 0.2s transform;
                transform: rotate(180deg);
            }
        }
    }
}

.mainContent{
    overflow: hidden;
    p {
        font-weight: 400;
        font-size: 16px;
    }
}