.main {
    cursor: pointer;
    width: fit-content;
    border: 1px solid var(--light-gray);
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.2s background-color;

    &:hover {
        transition: 0.2s background-color;
        background-color: rgb(233, 233, 233);
    }
}