.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // width: 420px;
    // height: 270px;
    // overflow: hidden;
}

.worksBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}