.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.worksBlock {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
    width: fit-content;
}

@media screen and (max-width: 1330px) {

    .worksBlock {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 880px) {

    .worksBlock {
        grid-template-columns: 1fr;
    }
}