.main {
    max-width: 400px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.head {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
        font-weight: 600;
        color: var(--black);
    }
}

.description {
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (max-width: 500px) {
        -webkit-line-clamp: 3;
    }
}

@media screen and (max-width: 500px) {
    .description {
        -webkit-line-clamp: 3;

        p {
            font-size: 14px;
        }
    }

    .head {

        p {
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
        }
    }
}