.main {
    height: 734px;
    background: url("../../../../icons/officeImage.png"),
        linear-gradient(180deg,
            #e2a401 -1.38%,
            #e6a901 17.18%,
            #e3a401 28.99%,
            #e5a800 43.17%,
            #eeb301 77.27%,
            #efb400 100%) -0.309px 0px / 100.047% 118.396%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.wrapper {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 45px;

    h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        color: var(--p-light);
    }

    h5 {
        margin-top: 5px;
        color: var(--p-light);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.promoCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        justify-content: center;
        align-items: center;
    }

    .promoCards {
        padding: 0 5px;
    }
}