.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.textContent {
    >div:first-child {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            display: inline-block;
            max-width: 596px;
            font-size: 36px;

            a {
                color: var(--green);
            }
        }
    }

    &__subTitle {
        max-width: 533px;

        h2 {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.tagsBlock {
    max-width: 500px;
    gap: 10px;
    // display: inline;
    display: flex;
    flex-wrap: wrap;

    a {
        border-radius: 20px;
        display: flex;
        // justify-content: center;
        // align-items: center;
        padding: 10px 20px;
        border: 1px solid var(--orange);
        p{
            color: var(--orange);
        }
    }
}